<html>
    <head>
        <title>Webcam</title>
        <style>
                body {
                  background-image: url('http://getwallpapers.com/wallpaper/full/c/6/7/1277971-ok-computer-wallpaper-1920x1080-samsung-galaxy.jpg');
                }
                #bottumdiv   {position: absolute; bottom: 0; left: 0; }
                #center   {position: absolute;  right: 0; left: 0;}
                #stream   {position: absolute; left: 100;}
                #avatar   {position: absolute;  right: 100;}
        </style>
    </head>
    <body>
            
        
            <h1 style="text-align: center;font-family: Lucida Bright,Georgia,serif; font-size:400%;"><span style="color: #ffffff;"><strong>Department of Cybernetics and Artificial Intelligence</strong></span></h1>
            <h1 style="text-align: center;font-family: Lucida Bright,Georgia,serif; font-size:200%;"><span style="color: #ffffff;"><strong>Center for Artificial Intelligence</strong></span></h1>
        

        <div id="center">
                <img id="stream" src="{{url_for('video_feed')}}" >
                <img id="avatar" src="https://lh3.googleusercontent.com/ls9KP0UIcq6_yAL7L81Hx5guRiwpdTKBj9Xmqxe-XfwZeQUZpdb0_1irbBhcfIxkkYqE43A-_XLYvtuYXt__UYwnPQeyNxTZTdge18HbuCcS_YoMWUlj3I35kzw3mhn68gh7Q9in_wJ1WKU3Iw-s9huoloWsf3tXgNWSEC3-p-FsaV2rzF8bsxBgJkecqaJZXqpvtDAvWlHoSZ4mcTOg5jE-gTze1JomrP8U9_XSC-327QTmRP9_wdUcH3MLM0mIp0wX6Log_RHi9PR1LNWihw6etnvOxdn5tsMaKMl_YdNqaK55yYtj9cUq-3B3OO5z_cfETzzwPTnxlR6dY4OUJTq7F8TgJKmkLjziOwS5rY_7SVluxAPjLxrF2xlXPbAW8vkkSHgBRJgwsROO4R62355RvA3mZO0x8MFIPaSssUmdHSaGyahLjNdHnV6ttALLEspetlJsXLB2Bo-Po18Oz1Bnf_Xya4Ms1UmgbWBmFnqT3C6NRnHf0x35ZU592Z2YgyS_rao-fjJBGwbNXlribaMxoF2BNbdEEK-ECJL_oD-0608YMbhnB8b02_3SCVz1YGHFHhyXesu4P7tIF60HsUtNe2YpzbjCcfX7vjOC4IsPl3HTk9F1KlHK5GyKbsqnlcy2vALcM2DRHVy9njLFZhuErxxZ_96MpCeTKVl5Ff3SBhZvqJkzrg=w400-h576-no"; align="right">
                
        </div>  
        <div id="bottumdiv">
            <p><span style="color: #ffffff;"><strong>12/12/2019</strong></span></p>
            <p><span style="color: #ffffff;"><strong>11:05:57 AM&nbsp;</strong></span></p>
        </div>
            


            


            
            
        
    </body>
</html>